node_modules
temp
build
dist
.DS_Store
package.ts

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

.env

# Acton related files
.acton/
gen/
build/
lcov.info
libraries.toml
global.libraries.toml

# Mnemonic and wallet files
*.mnemonic
wallets.toml
global.wallets.toml
